SERVER_PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_PASS=
DB_USER=
DB_NAME=transcendence_db


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

_42SCHOOL_CLIENT_ID=
_42SCHOOL_CLIENT_SECRET=
_42SCHOOL_CALLBACK_URL=http://localhost:3000/auth/42luanda/callback
_42SCHOOL_API_URL_AUTHORIRIZE=https://api.intra.42.fr/oauth/authorize
_42SCHOOL_API_URL_TOKEN=https://api.intra.42.fr/oauth/token
_42SCHOOL_API_URL_OAUTH_PROFILE=https://api.intra.42.fr/v2/me

JWT_SECRET=

FRONTEND_URL=http://localhost:5173